.marquee {
    font-size: 15px;
    padding-block: 8px;
    position: absolute; top: 18%;
    border-block: 1px solid darkmagenta;
    overflow: hidden;
    user-select: none;

    --gap: 20px;
    display: flex;
    gap: var(--gap);
}

.marquee ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-weight: bold;

    animation: scroll 25s linear;
}

.marquee:hover ul {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - 20px));
    }
}

.pink {
    color: rgb(236, 65, 213);
}

.purple {
    color: darkmagenta;
}