.NavBar {
    /* text-align: center; */
    padding: 10px 10px 10px 10px;
    background-color: transparent;
}

.navbar-header {
    position: fixed;
    width: 100%;
    height: 81px;
    background-color: transparent;
  }
  
  .navbar > a {
    display: inline-block;
    box-sizing: border-box;
    border-color: white;
    border-radius: 8px;
    width: 150px;
    /* background: rgb(233, 127, 145); */
    text-decoration: none;
    /* text-align: center; */
    font-size: min(12vw, 16px);
    color: #360A05;
  }
  
  .navbar > a.active {
    /* background: darkmagenta; */
    color: #dc3895;
  }

  .nav-link {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
  }
  